# App
APP_ENV=development
APP_PORT=8080

# Database
DB_PATH=./db/main.db

# JWT
JWT_SECRET=your-jwt-secret
JWT_EXPIRY=24

# AWS
AWS_REGION=ap-southeast-1

# SQS (LocalStack)
SQS_ENDPOINT=http://localhost:4566
SQS_QUEUE_URL=http://sqs.ap-southeast-1.localhost.localstack.cloud:4566/000000000000/goshop-orders

# S3 (LocalStack)
S3_ENDPOINT=http://localhost:4566
S3_BUCKET_NAME=goshop-images
S3_REGION=ap-southeast-1
